.widget {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  th{
    color: #edf4ff;
    font-weight: normal;
  }
}

.title{
  color: #edf4ff;
  font-size: 1.5rem;
}